In [1]:
import sqlite3

In [2]:
def query(q, db = sqlite3.connect('rpg_db.sqlite3')):
    cursor = db.cursor()
    cursor.execute(q)
    result = cursor.fetchall()
    cursor.close()
    db.commit()
#     print(result)
    return result

In [3]:
q = """
SELECT COUNT (*)\
FROM charactercreator_character;
"""
resultc = query(q)
print(f'{resultc[0][0]} total characters.')

302 total characters.

In [4]:
q = """
SELECT COUNT (*)
FROM charactercreator_fighter;
"""
result = query(q)
print(f'{result[0][0]} fighters.')

68 fighters.

In [5]:
q = """
SELECT COUNT (*)
FROM charactercreator_cleric;
"""
result = query(q)
print(f'{result[0][0]} clerics.')

75 clerics.

In [6]:
q = """
SELECT COUNT (*)
FROM charactercreator_thief;
"""
result = query(q)
print(f'{result[0][0]} thieves.')

51 thieves.

In [7]:
q = """
SELECT COUNT (*)
FROM charactercreator_mage;
"""
result = query(q)

q = """
SELECT COUNT (*)
FROM charactercreator_necromancer;
"""
resultn = query(q)
print(f'{result[0][0]} mages including {resultn[0][0]} necromancers.')

108 mages including 11 necromancers.

In [8]:
q = """
SELECT COUNT (*)
FROM armory_item;
"""
resulti = query(q)
print(f'{resulti[0][0]} different items.')

174 different items.

In [9]:
q = """
SELECT COUNT (*)
FROM armory_weapon;
"""
resultw = query(q)
print(f'{resultw[0][0]} weapons, {resulti[0][0] - resultw[0][0]} other items.')

37 weapons, 137 other items.

In [10]:
# for above, try to join items with weapons and count not weapons

In [11]:
q = """
SELECT character_id as ID, COUNT(item_id) as items
FROM charactercreator_character_inventory
GROUP BY character_id
ORDER BY items DESC
LIMIT 20;
"""
result = query(q)
for i in range(len(result)):
    print(f'Character ID: {result[i][0]} has {result[i][1]} items.')

Character ID: 7 has 5 items.
Character ID: 17 has 5 items.
Character ID: 18 has 5 items.
Character ID: 27 has 5 items.
Character ID: 35 has 5 items.
Character ID: 36 has 5 items.
Character ID: 37 has 5 items.
Character ID: 38 has 5 items.
Character ID: 53 has 5 items.
Character ID: 63 has 5 items.
Character ID: 65 has 5 items.
Character ID: 66 has 5 items.
Character ID: 81 has 5 items.
Character ID: 85 has 5 items.
Character ID: 86 has 5 items.
Character ID: 91 has 5 items.
Character ID: 92 has 5 items.
Character ID: 95 has 5 items.
Character ID: 96 has 5 items.
Character ID: 100 has 5 items.

In [12]:
q = """
SELECT cc.character_id as ID, cc.name as person, count(ai.name) as items
FROM charactercreator_character as cc,
armory_item as ai, 
charactercreator_character_inventory as cci
WHERE cc.character_id = cci.character_id 
AND ai.item_id = cci.item_id
group by cc.character_id
ORDER BY items DESC, person
LIMIT 20;
"""
result = query(q)
for i in range(len(result)):
    print(f'{result[i][1]} has {result[i][2]} items.')

Ab voluptas se has 5 items.
Acc has 5 items.
Aliqu has 5 items.
Aliquam n has 5 items.
Amet quo fugit aliquam sequi has 5 items.
Architecto i has 5 items.
Asperi has 5 items.
Atque aspernatur possi has 5 items.
Autem eos voluptates off has 5 items.
Autem mollitia fuga lauda has 5 items.
Culpa repellat unde has 5 items.
Cupidi has 5 items.
Dicta enim debitis accusantiu has 5 items.
Dolore magni has 5 items.
Dolorem quaerat sunt has 5 items.
Dolores aliquid inv has 5 items.
Dolores ea velit mi has 5 items.
Doloribus dolore r has 5 items.
Duci has 5 items.
Eaque at corpori has 5 items.

In [13]:
q = """
SELECT cc.character_id as ID, cc.name as person, count(aw.power) as weapons
FROM charactercreator_character as cc,
charactercreator_character_inventory as cci,
armory_weapon as aw
WHERE cc.character_id = cci.character_id 
AND aw.item_ptr_id = cci.item_id
GROUP BY cc.character_id
ORDER BY weapons DESC
LIMIT 20;
"""
result = query(q)
for i in range(len(result)):
    print(f'{result[i][1]} has {result[i][2]} weapons.')

Dignissimos a has 3 weapons.
Illo en has 3 weapons.
Explicabo recusandae ma has 3 weapons.
Perferendis commodi null has 3 weapons.
Reprehenderit commodi eius has 3 weapons.
Sint quibusdam ob has 3 weapons.
Ab voluptas se has 3 weapons.
Duci has 2 weapons.
Asperi has 2 weapons.
Iusto quas voluptatibu has 2 weapons.
Omni has 2 weapons.
Iste debitis dolorum amet m has 2 weapons.
Dolorem quaerat sunt has 2 weapons.
Provident nostrum minima has 2 weapons.
Reprehenderit li has 2 weapons.
Aliqu has 2 weapons.
Dolores aliquid inv has 2 weapons.
Acc has 2 weapons.
Reiciendis assumenda dolo has 2 weapons.
Architecto repudian has 2 weapons.

In [14]:
q = """
SELECT COUNT(*) 
FROM charactercreator_character_inventory;
"""
result = query(q)
print(f'{round(result[0][0] / resultc[0][0], 2)} average items per character')

2.97 average items per character

In [15]:
q = """
SELECT COUNT(*) 
FROM charactercreator_character_inventory as cci,
armory_weapon as aw
WHERE cci.item_id = aw.item_ptr_id;
"""
result = query(q)
print(f'{round(result[0][0] / resultc[0][0], 2)} average weapons per character')

0.67 average weapons per character