In [1]:
import sqlite3

In [2]:
def query(q, db = sqlite3.connect('rpg_db.sqlite3')):
    cursor = db.cursor()
    cursor.execute(q)
    result = cursor.fetchall()
    cursor.close()
    db.commit()
#     print(result)
    return result

In [3]:
# How many total Characters are there?
q = """
SELECT COUNT(*)
FROM charactercreator_character;
"""
resultc = query(q)
print(f'{resultc[0][0]} total characters.')

302 total characters.

In [4]:
# How many of each specific subclass?
q = """
SELECT COUNT(*)
FROM charactercreator_fighter;
"""
result = query(q)
print(f'{result[0][0]} fighters.')

68 fighters.

In [5]:
q = """
SELECT COUNT(*)
FROM charactercreator_cleric;
"""
result = query(q)
print(f'{result[0][0]} clerics.')

75 clerics.

In [6]:
q = """
SELECT COUNT(*)
FROM charactercreator_thief;
"""
result = query(q)
print(f'{result[0][0]} thieves.')

51 thieves.

In [7]:
q = """
SELECT COUNT(*)
FROM charactercreator_mage;
"""
result = query(q)

q = """
SELECT COUNT(*)
FROM charactercreator_necromancer;
"""
resultn = query(q)
print(f'{result[0][0]} mages including {resultn[0][0]} necromancers.')

108 mages including 11 necromancers.

In [8]:
# How many total Items?
q = """
SELECT COUNT(*)
FROM armory_item;
"""
resulti = query(q)
print(f'{resulti[0][0]} different items.')

174 different items.

In [9]:
# How many of the Items are weapons? How many are not?
q = """
SELECT COUNT(*)
FROM armory_weapon;
"""
resultw = query(q)
q = """
SELECT COUNT(*)
FROM armory_item
LEFT JOIN armory_weapon
ON item_ptr_id = item_id
WHERE power IS NULL
"""
result = query(q)
print(f'{resultw[0][0]} weapons, {result[0][0]} other items.')

37 weapons, 137 other items.

In [10]:
# How many Items does each character have? (Return first 20 rows)
q = """
SELECT cc.character_id as ID, cc.name as person, count(ai.name) as items
FROM charactercreator_character as cc,
armory_item as ai, 
charactercreator_character_inventory as cci
WHERE cc.character_id = cci.character_id 
AND ai.item_id = cci.item_id
GROUP BY cc.character_id
ORDER BY items DESC, person
LIMIT 20;
"""
result = query(q)
for i in range(len(result)):
    print(f'{result[i][1]} has {result[i][2]} items.')

Ab voluptas se has 5 items.
Acc has 5 items.
Aliqu has 5 items.
Aliquam n has 5 items.
Amet quo fugit aliquam sequi has 5 items.
Architecto i has 5 items.
Asperi has 5 items.
Atque aspernatur possi has 5 items.
Autem eos voluptates off has 5 items.
Autem mollitia fuga lauda has 5 items.
Culpa repellat unde has 5 items.
Cupidi has 5 items.
Dicta enim debitis accusantiu has 5 items.
Dolore magni has 5 items.
Dolorem quaerat sunt has 5 items.
Dolores aliquid inv has 5 items.
Dolores ea velit mi has 5 items.
Doloribus dolore r has 5 items.
Duci has 5 items.
Eaque at corpori has 5 items.

In [11]:
# How many Weapons does each character have? (Return first 20 rows)
q = """
SELECT cc.character_id as ID, cc.name as person, count(aw.power) as weapons
FROM charactercreator_character as cc, charactercreator_character_inventory as cci, armory_weapon as aw
WHERE cc.character_id = cci.character_id AND aw.item_ptr_id = cci.item_id
GROUP BY cc.character_id
ORDER BY weapons DESC, person
LIMIT 20;
"""
result = query(q)
for i in range(len(result)):
    print(f'{result[i][1]} has {result[i][2]} weapons.')

Ab voluptas se has 3 weapons.
Dignissimos a has 3 weapons.
Explicabo recusandae ma has 3 weapons.
Illo en has 3 weapons.
Perferendis commodi null has 3 weapons.
Reprehenderit commodi eius has 3 weapons.
Sint quibusdam ob has 3 weapons.
Acc has 2 weapons.
Aliqu has 2 weapons.
Architecto repudian has 2 weapons.
Asperi has 2 weapons.
At id recusandae expl has 2 weapons.
Autem mollitia fuga lauda has 2 weapons.
Consequatur quis recusandae qu has 2 weapons.
Culpa repellat unde has 2 weapons.
Debit has 2 weapons.
Debitis sit ratione eos nam has 2 weapons.
Deleniti qui quae quidem has 2 weapons.
Dolorem quaerat sunt has 2 weapons.
Dolores aliquid inv has 2 weapons.

In [12]:
# On average, how many Items does each Character have?
q = """
SELECT AVG(ipc)
FROM (
    SELECT character_id, COUNT(item_id) as ipc
    FROM charactercreator_character_inventory
    GROUP BY character_id)
"""
result = query(q)
print(f'{round(result[0][0], 2)} average items per character.')

2.97 average items per character

In [13]:
# On average, how many Weapons does each character have?
q = """
SELECT AVG(wpc)
FROM (
    SELECT character_id, COUNT(item_ptr_id) as wpc
    FROM charactercreator_character_inventory
    LEFT JOIN armory_weapon
    ON item_id = item_ptr_id
    GROUP BY character_id)
"""
result = query(q)
print(f'{round(result[0][0], 2)} average weapons per character.')

0.67 average weapons per character

In [14]:
print('Where all the weapons have 0 power, all the mages have 1 intelligence, and all the clerics are below average.')

Where all the weapons have 0 power, all the mages have 1 intelligence, and all the clerics are below average.